.react-select {
  background: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
  width: 193px;
  height: 30px;

  .react-select__single-value {
    color: var(--md-sys-color-on-surface);
  }

  .react-select__menu {
    background: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
  }

  .react-select__option {
  }

  .react-select__value-container {
  }

  .react-select__indicators {
  }

  .react-select__option:hover,
  .react-select__option:focus,
  .react-select_option:focus-within {
    background: var(--md-sys-color-surface-container-highest);
  }

  .react-select__option--is-focused {
    background: var(--md-sys-color-surface-container-highest);
  }
}
